{% extends 'base.html' %}
{% load static %}

{% block header_references %}
    <link rel="stylesheet" href="{% static 'blog/AllPost.css' %}">
{% endblock %}

{% block title %}
	All-Post
{% endblock %}

{% block content %}
    {% include 'includes/Header.html' %}
    <ul>
        {% include 'includes/post.html' %}
    </ul>
    <ul>
        {% include 'includes/post.html' %}
    </ul>
    <ul>
        {% include 'includes/post.html' %}
    </ul>
    <ul>
        {% include 'includes/post.html' %}
    </ul>
{% endblock %}