{% extends 'base.html' %}
{% load static %}


{% block header_references %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% include 'includes/Header.html' %}
    <section id="body">
        <header>The lastest post</header>
        <div><a href="">post1</a></div>
        <img src="{% static 'images/041.JPG' %}" alt="post1-picture">
    </section>

    <section id="description">
        <header><h2>about me</h2></header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias architecto assumenda consequuntur
            corporis, ducimus eligendi fuga id incidunt ipsa iure laudantium nulla obcaecati quasi quos reiciendis
            soluta tenetur voluptates?</p>
        <img src="{% static 'images/29.jpg' %}" alt="about-me">
    </section>

{% endblock %}